.Main{
  overflow-x: hidden;
}

.DockServiceMain {
    position:relative;
  width: 95vw;
  height: 80vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row-reverse;
  background: white;
  margin-top: 10vh;

  

}
.DockServiceWords {

padding: 2rem;
    display: flex;
    flex-direction: column;
  width: 50%;
  float: right;
  height: fit-content;
  font-size: 1.2rem;
}
.DockServiceSpan {
    width: 100%;
    float: right;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(0,184,106,1)
}

.DockServiceH1 {  width: 100%;
    float: right;
    font-size: 3rem;
}
.DockServiceP {  width: 100%;
    float: right;
}

.DockServiceCarousel {
width: 45%;

  float: left;

  aspect-ratio: 1.2/1;
}

@media only screen and (max-width: 1000px) {
    .DockServiceCarousel {
        width: 100vw;
        height: 100%;
        float: none;
        margin-left: 20%;
    
      }
      .DockServiceMain {
        width: 80vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-top: 40vh;
      }
      .DockServiceWords {


        display: flex;
        flex-direction: column;
        margin-left: 30%;
      width: 100%;
      float: right;
      height: 100vh;
      font-size: 1rem;
    }
  }

  .img1{ 
    background: url("../images/Axis\ Waterfront.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
  }
  .img2{ 
    background: url("../images/Axis\ Waterfront\ 3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
  }
  .img3{ 
    background: url("../images/Axis Waterfront20221013_0012.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
  }
  .img4{ 
    background: url("../images/Axis Waterfront.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
  }
  .img5{ 
    background: url("../images/Axis Waterfront20221013_0017.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    
  }
  .img6{ 
    background: url("../images/Axis Waterfront20221013_0010.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    
  }
.CarouselLabel{
position: absolute;
text-align: center;
bottom: 3rem;
line-height: 2rem;
left: 50%;
transform: translate(-50%,60%);
width: 120%;
height: 5rem;
background: rgb(255, 255, 255);
backdrop-filter: blur(2rem);
overflow-y: hidden;
font-family: 'Encode Sans Expanded', sans-serif;
}
.ServicesBtn{
 width: fit-content;
position: relative;
left: 50%;
margin: 2rem;

}

.DockServiceBtn {
  border-radius: 50px;
  background: #01BF71;
  white-space: nowrap;
  padding: 14px 48px;
  color: #010606;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
position: relative;
right: 35vmin;
  transition: all 0.2s ease-in-out;


  &:hover{
      transition: all 0.2s ease-in-out;
      background: #ffff

  }
}
.DockServiceBtn2 {
  border-radius: 50px;
  background: #01BF71;
  white-space: nowrap;
  padding: 14px 48px;
  color: #010606;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
position: relative;

  transition: all 0.2s ease-in-out;


  &:hover{
      transition: all 0.2s ease-in-out;
      background: #ffff

  }
}
a{
    color: rgba(255, 255, 255, 0)
}