
.JobberOpen {
display: flex;
height: fit-content;
  overflow: scroll;
  background-image: url("./Axis Waterfront.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
padding: 2rem;
}
.JobberOpen1 {
  position: relative;
height: 100%;
width: 100%;

 



 
}

.Application {

width: 100%;
padding: 2rem;
}